body {
  background-color: #fdf6e3;
  color: #657b83;
  font-family: "sans-serif";
}

div {
  margin-top: 1em;
  margin-bottom: 1em;
}

canvas {
  background-color: #ffffff;
}

#graph_div {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 1em;
  margin-right: 2em;
}

#graph_canvas {
  grid-column: 2;
  grid-row: 1;
}

#yaxis {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 3em;
}

.auto-vertical {
  margin-top: auto;
}

#xaxis {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#xlabel {
  grid-column: 2;
  grid-row: 3;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.auto-horizontal {
  margin-left: auto;
}

.param-div {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-column-gap: 2.5em;
  grid-row-gap: 0.5em;
  padding-right: 2em;
  margin-bottom: auto;
}

.param-div-hidden {
  display: none;
}

.param-div input[type=text] {
  width: 5em;
}

.data_div input[type=text] {
  width: 5em;
  margin-right: 2em;
}

.data-input input[type=text] {
  width: 5em;
  margin-right: 2em;
}

.flex-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

#hyperparams_div input[type=number] {
  width: 5em;
}
